.App {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Inconsolata", monospace;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.header-right {
  display: flex;
  color: #fff;
}

.header-list-right,
a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 900;
}
.header-list-right {
  display: flex;
}

.header-list-right a {
  font-size: 1.4rem;
}

a:hover {
  text-decoration: underline;
}

.header-list-right a:hover {
  background-color: rgb(29, 29, 29);
  text-decoration: underline;
  border-radius: 10px;
  margin: 0;
}

input {
  height: 50px;
  border-radius: 20px;
  width: 250px;
  margin: 35px 0 0 0;
  font-size: 1.2rem;
}

input:hover {
  background-color: rgb(216, 208, 208);
  height: 50px;
}

.main-head {
  font-weight: 900;
  font-size: 2.3rem;
}

.cards {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.cats button {
  background-color: black;
  color: white;
  margin: 1%;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid white;
}

.cats button:hover {
  box-shadow: 2px 2px 2px orange;
}

.cats {
  margin: 50px 100px;
}

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

.next-page button {
  background-color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 10px;
}

.next-page {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 50px;
}

.next-page .one {
  background-color: #282c34;
  cursor: auto;
}

.main-head:hover {
  background-color: black;
}
