.item-whole {
  background-color: #b4e197;
  width: 50%;
  border: 1px solid white;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  margin: 1%;
}

.top,
.bottom {
  display: flex;
  justify-content: space-around;
}

.item-img {
  border-radius: 10px;
}
